html {
	scroll-behavior: smooth;
}

.auto-scroll {
  scroll-behavior: auto;
}

body {
  text-align: center;
  color: #373A36;
}

 {
  box-sizing: border-box;
}

/**prevent flickering on animations**/

html.sr .load-hidden {
    visibility: hidden;
}

/** navigation bar **/

nav {
  height: 16px;
  padding: 16px 16px 48px 16px;
}

.topnav {
  float: right;
}

.topnav a {
  float: left;
  display: block;
  font-family: "Karla";
  color: #373A36;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  box-sizing: border-box;
  text-align: right;
}

.topnav a:hover {
  color: #FB9F99;
}

.topnav a:link {
  color: #373A36;
  text-decoration: none;
}

.topnav a:active {
  color: #FDE54A;
}

.logo {
  float: left;
}

.topnav .icon {
  display: none;
}

.fa-linkedin, .fa-envelope-square {
  font-size: 48px;
}

.fa-bars {
  font-size: 24px;
}

/** header **/

header {
  text-align: center;
  margin: 48px;
  padding-top: 24px;
  padding-bottom: 24px;
}

/**arrow styling in header**/

a { color: #373A36; text-decoration: none; }

.arrow {
  text-align: center;
  margin: 48px 0;
}
.bounce {
  animation: bounce 3s infinite;
  animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/**header image**/


.geodesign {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }

.title {
  padding-top: 48px;
}

/** typography **/

h1 {          /** "Pinky" **/
  color: #373A36;
  font-family: 'Poppins', sans-serif;
  font-size: 34px;
  font-weight: 800;
}

.letter-spacing {         /**letter spacing for "do your best work"**/
  letter-spacing: 1px;
}

h2 {        /**title headers**/
  text-align: left;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #373A36;
}

.padding  {       /** spacing in "chapter 2" **/
  padding-bottom: 32px;
}

.spacing {      /** decreasing paragraph spacing in final thoughts **/
  padding-bottom: 0px;
}

.biography p {
	padding-bottom: 0px;
	padding-top: 24px;
}

/** blockquote styling **/

.blockquote {
  border-left: 10px solid #011149;
	margin-top: 24px;
  padding-left: 24px;
	padding-top: 10px;
  quotes: "\201C""\201D""\2018""\2019";
	font-size: 18px;
	color: rgba(0, 0, 0, 0.54);
}

.blockquote:before {
  color: #011149;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.blockquote p {
  display: inline;
}

.bio-spacing {
  padding-top: 48px;
}

h3 {         /** parts **/
  text-align: left;
  font-family: "Karla";
  font-weight: normal;
  font-size: 30px;
  color: #373A36;
  padding-bottom: 48px;
}

.subtitle {   /** based in dc **/
  font-family: "Karla";
  color: #373A36;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  padding-bottom: 0px;
}

h4  {   /** scribble typography styling **/
  text-align: left;
  font-family: "Libre Baskerville", serif;
  font-weight: normal;
  font-size: 24px;
  padding-bottom: 32px;
  color: white;
}

h5 {  /** scribble typography styling **/
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 24px;
  padding-bottom: 32px;
  color: white;
}

p, .toc li {
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 20px;
  font-family: "Karla";
  line-height: 32px;
  color: #373A36
}

.toc-header {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 0;
}

/** resume link styling **/
a.resume-link:hover {
	color: #FB9F99;
}

a.resume-link:link {
	color: #373A36;
	text-decoration: underline;
}

a.resume-link:active {
  color: #FDE54A;
}

/** list styling in user stories and high fid mockups **/

.fa-ul {
  font-family: "Karla", sans-serif;
  font-size: 20px;
	line-height: 28px;
}

.fa-ul li {
  padding-bottom: 12px;
}

.list-spacing {
	padding-bottom: 24px;
}

.fa-check-square {
  color: #fb9f99;
}

.padding-top {
  padding-top: 32px;
}

.high-priority {
	color: red;
}

.medium-priority {
	color: orange;
}

.low-priority {
	color: green;
}


/**table of contents**/

.toc li a:hover {
  color: #FB9F99;
}

.toc li a:link {
  color: #373A36;
  text-decoration: underline;
}

.toc li a:active {
  color: #FDE54A;
}

/** button + link styling **/

.button {
  background-color: #011149;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  margin: 4px 2px;
  padding: 15px 32px;
  text-decoration: none;
  text-align: center;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: inline-block;
}

.button {
  border-color: #fb9f99;
  color: #fff;
  background-image: linear-gradient(45deg, #fb9f99 50%, transparent 50%);
  background-image: linear-gradient(45deg, #fb9f99 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}
.button:hover {
  background-position: 0;
}

.button a:link {
  color: white;
}

.button a:visited {
  color: white;
}


/** last buttons (next) **/

.button-right {
  text-align: right;
}

.button-right a {
  background-color: #011149;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button-right a:link {
  text-decoration: none;
  color: white;
  font-family: "Karla";
}

.button-right a:visited {
  color: white;
}

.button-right a:hover {
  color: #FB9F99;
}

.button-right a:active {
  color: #FDE54A;
}

/** go to top button **/

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #011149;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-family: "Karla";
  font-weight: bold;
}

#myBtn:hover {
  background-color: #FB9F99;
}

/** clearfix **/

.clearfix {
  clear: both;
}

/** section styling **/

.container-homepage {                         /** for homepage **/
  text-align: left;
  background: linear-gradient(180deg, rgba(253, 229, 74, 0.5) 0%, rgba(241, 213, 32, 0) 100%);
}

.container-homepage-2 {
  text-align: left;
  background: linear-gradient(180deg, rgba(251, 159, 153, 0.5) 0%, rgba(251, 159, 153, 0) 100%);
}

.flex-container-1 {
}

/** for case study **/

section {
  padding: 48px;
  margin: auto;
  text-align: left;
  background-color: #f4f4f4;
}

.whitebox {
  padding: 48px;
  margin: auto;
  text-align: left;
	background-color: white;
}

.toc {
  padding-top: 16px;
}

.toc li {
  padding: 12px;
  text-align: center;
}

.flex-container {
  flex-direction: row;
  display: inline-block;
  padding-bottom: 48px;
}

.row-persona { /** personas **/
  display: flex;
}

.column-persona { /** personas **/
  flex: 33.33%;
  padding: 5px;
}

.row-wireframes {
  display: flex;
  flex-wrap: wrap;
}

.column-wireframes {
  flex: 40%;
  max-width: 100%;
  padding-right: 16px;
}

.row-homepage-variations {
  display: flex;
  flex-flow: row wrap;
}

.column-homepage-variations {
  flex: 40%;
  padding: 8px;
	margin-bottom: 8px;
}

.typography {
  background-color: #011149;
  margin-top: 32px;
  padding: 24px;
}

.color-white, .bio-background p {
  color: white;
}

.color-white-center {
  color: white;
  text-align: left;
}

/** bio section styling **/

.header {
  margin-top: 100px;
}

.flex-container-2 {               /**margins for about **/
  margin: auto;
  text-align: left;
  padding: 48px;
	background-color: white;
}


/** alignment styling **/


ul.problem {
  list-style-type: disc;
  list-style-position: inside;
  padding-bottom: 32px;
  font-size: 20px;
  font-family: "Karla";
  line-height: 32px;
  color: #373A36
  display: block;
}

.center {
  text-align: center;
}

/** images **/

.projectphotos img {
  width: 100%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.icons img {
  width: 128px;
  height: auto;
  padding-bottom: 32px;
}

.dashboard img  {
  width: 100%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.high-fidelity img, .column-homepage-variations img, .homepage-variations img {
  width: 100%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.wireframe-sketches img {
	width: 100%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
	margin-bottom: 32px;
}

.user-flows img {
  width: 100%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  margin-bottom: 32px;
}

.comp-analysis img {
	width: 100%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.scribble img {
  width: 100%;
  height: auto;
}

.column-persona img {
  width: 100%;
  height: auto;
}

/** clicking on persona images **/

#persona {
  cursor: pointer;
  transition: 0.3s;
}

#persona:hover {opacity: 0.7;}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 500px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.column-wireframes img {
  width: 100%;
  height: auto;
  border: 1px solid gray;
  border-radius: 10px;
  margin-bottom: 16px;
}

.usability-testing img {
  width: 100%;
  height: auto;
  border: 1px solid gray;
  border-radius: 10px;
}

/** bio images **/

.biophoto img {
  width: 100%;
  max-height: 350px;
  padding-top: 48px;
  padding-bottom: 48px;
  object-fit: cover;
}

.pattern img {
  padding-top: 32px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


/** icons **/

.fa-linkedin, .fa-envelope-square {
  font-size: 2em;
}

.fa-bars {
  font-size: 24px;
}

/** footer **/

footer {
  border-top: 2px solid #373A36;
  padding: 32px;
}

.footer {
  letter-spacing: 2px;
}

.footer-1 {
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: normal;
}

.social-link {
  margin-right: 12px;
  display: inline-block;
}

.social-link a {
  color: #373A36;
}

/**media query for mobile**/

@media screen and (min-width: 375px) and (max-width: 800px) {
  br {
    display: none;
  }

  h2 {
    font-size: 24px;
    line-height: 36px;
  }

  h3 {
    font-size: 24px;
    line-height: 36px;
  }

  .row-persona {
    flex-direction: column;
  }

  .column-persona {
    width: 100%;
    margin: 0 auto;
  }

  .saeeda img {
    padding-bottom: 32px;
  }

  .row-wireframes {
    flex-direction: column;
  }

  .flex-container-2 {
    padding-top: 0px;
    padding-bottom: 48px;
  }

  footer p {
    margin-left: 48px;
    margin-right: 48px;
  }

	.button {
		width: 100%;
	}


}

/** query for case study + homepage margins desktop **/

@media screen and (min-width: 800px) and (max-width: 1200px) {
  .container, header {
    margin-left: 25%;
    margin-right: 25%;
}
 .flex-container-1 {
     margin-left: 180px;
     margin-right: 180px;
}

.biography {
  margin-left: 25%;
  margin-right: 25%;
}

/** user surveys statistics **/

  .flex-container {
    margin-left: 10%;
    margin-right: 10%;
  }

  /** gets rid of extra padding **/

  .flex-container-2 {
    padding: 0px;
    padding-bottom: 48px;
  }


/** for colors in typogrpahy and branding **/

  .colors {
    text-align: center;
  }

}


/** navigation bar responsiveness **/

@media screen and (max-width: 800px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: none;
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .topnav.responsive {
    position: absolute;
    right: 0;
  }

  .topnav.responsive .icon {
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    display: block;
    text-align: right;
    width: 100%;
    background-color: #011149;
    color: white;
  }

  .topnav.responsive a:hover {
    color: #FB9F99;
  }

  .topnav.responsive a:active {
    color: #FDE54A;
  }
}

/** query for iPad landscape**/

@media screen and (min-width: 800px) and (max-width: 1024px) and (orientation: landscape) {

.container {
  margin-left: 25%;
  margin-right: 25%;
}

}


/** query for ultrawide monitors**/

@media screen and (min-width: 1200px) and (max-width: 1920px) {
  .flex-container {
    margin-left: 10%;
    margin-right: 10%;
  }

          /**homepage + bio**/

  .projectphotos {
    width: 100%;
    margin: 0 auto;
  }

  .flex-container-1 {
    margin: auto;
    margin-top: 48px;
    width: 50%;
  }

  .biography {
    margin-left: 25%;
    margin-right: 25%;
  }

  .flex-container-2 {
    padding-top: 0px;
    padding-bottom: 48px;
  }

        /**case study**/

  .container {
    width: 50%;
    margin: 0 auto;
  }

  .row-persona { /** personas **/
    display: flex;
    width: 100%;
    margin: 0 auto;
  }

  .column-persona { /** personas **/
    flex: 33.33%;
    padding: 5px;
  }

}
