body {
  margin: 16px 72px 16px 72px;
  text-align: center;
  color: #373A36;
}

nav {
  margin: auto;
}

.logo, .navbuttons {
  display: inline-block;
}

.logo {
  float: left;
}

.navbuttons {
  float: right;
  padding: auto;
  margin: auto;
}

li {
  padding: 24px;
  display: inline-block;
  font-family: Karla;
}

a:hover {
  color: #FB9F99;
}

a:link {
  color: #373A36;
  text-decoration: none;
}

a:active {
  color: #FDE54A;
}

header {
  text-align: center;
  padding: 48px;
}

.geodesign {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }

h1 {
  color: #373A36;
  font-family: Poppins;
  font-size: 34px;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: 30px;
  font-family: Rubik;
  padding-bottom: 32px;
  color: #373A36;
}

h3 {
  font-family: Karla;
  font-weight: bold;
  color: #373A36;
}

p {
  font-size: 20px;
  font-family: Karla;
  line-height: 32px;
  padding-top: 48px;
  padding-bottom: 48px;
  color: #373A36
}

section {
  padding: 180px;
  text-align:left;
  background-color: #E7E7E7
}

button {
  background-color: #011149;
  color: white;
  text-family: Karla;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

.icons {
  float: right;
}

footer {
  padding-top: 48px;
}



@media screen and (max-width: 1024px) {

  }
}
