body {
  text-align: center;
  color: #373A36;
}

nav {
  height: 16px;
  padding-left: 72px;
  padding-right: 72px;
  padding-top: 16px;
}

.logo, .navbuttons {
  display: inline-block;
}

.logo {
  float: left;
}

.navbuttons {
  float: right;
  padding: auto;
  margin: auto;
}

li {
  padding: 24px;
  display: inline-block;
  font-family: Karla;
}

a:hover {
  color: #FB9F99;
}

a:link {
  color: #373A36;
  text-decoration: none;
}

a:active {
  color: #FDE54A;
}

header {
  text-align: center;
  margin: 80px;
}

.geodesign {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }

h1 {
  color: #373A36;
  font-family: Poppins;
  font-size: 34px;
  font-weight: bold;
  text-align: center;
}

.subtitle {
  padding-top: 50px;
}

h2 {
  font-size: 30px;
  font-family: Poppins;
  color: #373A36;
}

h3 {
  font-family: Karla;
  font-weight: bold;
  color: #373A36;
}

p {
  font-size: 20px;
  font-family: Karla;
  line-height: 32px;
  color: #373A36
}

.dashboard {
  border-radius: 10px;
  box-shadow: 10px 10px 5px grey;
}

section {
  text-align:left;
  background-color: #E7E7E7;
}

.container {
  margin-left: 180px;
  margin-right: 180px;
}

button {
  background-color: #011149;
  text-family: Karla;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}

.icons {
  float: right;
}

footer {
  padding-top: 48px;
}



@media screen and (max-width: 1024px) {

  }
}
